body {
    font-family: 'Raleway', sans-serif;    color: #454545;
    font-size: 24px;
    background-color: #fefefe;
}

a { 
    text-decoration: none;
}
.topnav {
    position: relative;
    top: 3%;
    z-index: 9;
    right: 0%;
}

.topnav a {
    color: #454545;
    font-style: italic;
}

.language {
    float: left;
    padding-left: 10px;
    display:block;
    z-index:9;
    text-align:center;
}
.language-selector { display: none; }

.language:hover .language-selector {
    display: inline;
    text-decoration: none;
}

.language-selector a {
    text-decoration: none;
    display: inline;
}

.menu {
    float: right;
}
.menu a {
    padding-right: 25px;
}

.me {
    max-width: 40vw;
    display: block;
    height: auto;
    bottom: 0;
    position: absolute;
    right: 0;
    /* float: right; */
}

.main { 
    padding-top: 5%;
    padding-left: 10%;
}

.section {
    display: flex;
}

.section .title { 
    text-align:center;
}
.section .desc { 
    position: relative;
    margin-left: 2%;
    width: 55%;
    float: left;
}

.section .showcase { 
    float: right;
    position: relative;
    right: 10px;
}

.main h1 {
    text-align: center;
} 
 
.job { 
    padding-bottom: 25px;
}

.job .employer {
    font-size: 24px;
    font-style: italic;
    margin-left: 25px;
    margin-top: -30px;
    
}

.job .dates {
    margin-top: -20px;
    margin-left: -25px;
    font-size: 22px;
    font-style: italic;
}

ion-icon {
    color: #2b2b2b;
    font-size: 64px;
}

.contact a{
    padding-left: 50px;
}

@media (max-width: 800px) {
    .me {
        max-width: 100%;
        max-height: 50%;
    }
    .main {
        padding-top: 20%;
        font-size: 18px;
    }

    .menu a {
        padding-right: 10px;
    }

    .showcase {
        display: none;
    }
    .section {
        font-size: 18px;
    }

    .section .desc {
        width: 90%;
    }
    
}